In [ ]:
# Importing Pandas
import pandas as pd

In [ ]:
# Create a DataFrame from the given data
data = {
    'Name': ['Amine', 'Imene', 'Yacine', 'Sarah', 'Redha'],
    'Age': [np.NaN, 30, 22, 35, 28],
    'City': ['Alger', 'Setif', 'Oran', 'Annaba', 'Jijel'],
    'Salary': [50000, 70000, 60000, 80000, 55000]
}

df = pd.DataFrame(data)

In [ ]:
# 1. Display the first 3 rows of the DataFrame
first_3_rows = df.___
print("1. Display the first 3 rows of the DataFrame:\n", first_3_rows)

In [ ]:
# 2. Find the number of rows and columns in the DataFrame
shape_of_df = df.___
print("2. Find the number of rows and columns in the DataFrame:\n", shape_of_df)

In [ ]:
# 3. Display the unique values in the 'City' column
unique_cities = df[__].___
print("3. Display the unique values in the 'City' column:\n", unique_cities)

In [ ]:
# 4. Calculate the mean salary of the employees
mean_salary = df[__].___
print("4. Calculate the mean salary of the employees:\n", mean_salary)

In [ ]:
# 5. Add a new column 'Bonus' with random bonus values (e.g., 1000, 1500, 1200, 2000, 1100)
df['Bonus'] = ___
print("5. Add a new column 'Bonus' with random bonus values:\n", df)

In [ ]:
# 6. Drop the 'City' column from the DataFrame
df_without_city = df.___(__, axis=__)
print("6. Drop the 'City' column from the DataFrame:\n", df_without_city)

In [ ]:
# 7. Select only the rows where the age is greater than 25
above_25_years = df[df[__] __ 25]
print("7. Select only the rows where the age is greater than 25:\n", above_25_years)

In [ ]:
# 8. Set the 'Name' column as the index of the DataFrame
df_with_index = df.___(__)
print("8. Set the 'Name' column as the index of the DataFrame:\n", df_with_index)

In [ ]:
# 9. Reset the index of the DataFrame
df_reset_index = df_with_index.___
print("9. Reset the index of the DataFrame:\n", df_reset_index)

In [ ]:
# 10. Sort the DataFrame based on the 'Salary' column in descending order
sorted_df = df.___(__, ascending=__)
print("10. Sort the DataFrame based on the 'Salary' column in descending order:\n", sorted_df)

In [ ]:
# 11. Group the DataFrame by the 'City' column and calculate the mean salary in each city
mean_salary_by_city = df.___('City').___['Salary'].___
print("11. Group the DataFrame by the 'City' column and calculate the mean salary in each city:\n", mean_salary_by_city)

In [ ]:
# 12. Replace 'Yacine' with 'Selma' in the 'Name' column
df_replace_name = df[__].___(__, __)
print("12. Replace 'Charlie' with 'Eva' in the 'Name' column:\n", df_replace_name)

In [ ]:
# 13. Display the statistical summary of the DataFrame
summary_stats = df.___
print("13. Display the statistical summary of the DataFrame:\n", summary_stats)

In [ ]:
# 14. Fill missing values in the DataFrame with the mean of each column
df_filled_na = df.___
print("14. Fill missing values in the DataFrame with the mean of each column:\n", df_filled_na)

In [ ]:
# 15. Calculate the total salary expenditure by the company
total_salary_expenditure = df[__].___
print("15. Calculate the total salary expenditure by the company:\n", total_salary_expenditure)

In [ ]:
# 16. Save the DataFrame to a CSV file named 'employee_data.csv'
df.___(__, index=__)
print("16. Save the DataFrame to a CSV file named 'employee_data.csv': File saved.")

In [ ]:
# 17. Read the 'employee_data.csv' file into a new DataFrame
new_df = pd.___(__)
print("17. Read the 'employee_data.csv' file into a new DataFrame:\n", new_df)

In [ ]:
# 18. Display the last 2 rows of the new DataFrame
last_2_rows_new_df = new_df.___(__)
print("18. Display the last 2 rows of the new DataFrame:\n", last_2_rows_new_df)

In [ ]:
# 19. Rename the columns to 'EmployeeName', 'EmployeeAge', 'EmployeeCity', 'EmployeeSalary'
df_renamed_columns = df.___([__, __, __, __])
print("19. Rename the columns to 'EmployeeName', 'EmployeeAge', 'EmployeeCity', 'EmployeeSalary':\n", df_renamed_columns)

In [ ]:
# 20. Create a new DataFrame with only 'Name' and 'Salary' columns
df_name_salary = df[[__, __]]
print("20. Create a new DataFrame with only 'Name' and 'Salary' columns:\n", df_name_salary)